<footer class="contenedor mt-2 mb-0 bg-dark-light text-center ">
    <div class="redes-sociales">
        <div class="contenedor-icono">
            <a href="https://twitter.com/miriam_paty1" target="_blank" class="twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <div class="contenedor-icono">
            <a href="https://www.facebook.com/patricia.nicasio.56" target="_blank" class="facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
        <div class="contenedor-icono">
            <a href="http://www.instagram.com/miriam.nicasio.c/?hl.es" target="_blank" class="instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </div>

    </div>

    <div>
        <p class="mt-2 mb-0 light-gray-text">&copy; DICyT - UPEA</p>
    </div>
</footer>