.background {
    margin: 0;
    min-height: 100vh;
    background-image: url(../assets/img/home/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.mask {
    margin: 0;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.404);
    background-size: cover;
    background-attachment: fixed !important;
}