<div class="container mt-5">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 my-auto items-align-center">
            <div class="row">
                <div class="col-12">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h2 class="title text-primary mb-0 font-weight-bold display-4">Investigación</h2>
                            </div>
                            <div class="carousel-item">
                                <h2 class="title text-primary mb-0 font-weight-bold display-4">Tecnología</h2>
                            </div>
                            <div class="carousel-item">
                                <h2 class="title text-primary mb-0 font-weight-bold display-4">Desarrollo</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <h2 class="title white-text">Direccion de</h2>
                </div>
            </div>
            <h2 class="title white-text">Investigación, Ciencia</h2>
            <h2 class="title white-text">y Tecnología</h2>
        </div>
        <div class="col col-lg-7">
            <div class="jumbotron jumbotron-fluid transparente zoom">
                <div class="container">
                    <h1 class="display-4 white-text">Mision</h1>
                    <p class="lead blue-text">
                        La Dirección de Investigación Ciencia y Tecnología es el ente motivador e impulsor que fomenta la investigación, responde a las necesidades y expectativas del sector educativo, productivo y social, mediante el desarrollo de tecnología, aplicación, generación
                        del conocimiento y sobre todo la innovación.
                    </p>
                </div>
            </div>
            <div class="jumbotron jumbotron-fluid transparente zoom">
                <div class="container">
                    <h1 class="display-4 white-text">Vision</h1>
                    <p class="lead blue-text">
                        Dirección académica estratégica y referente que propone, organiza, coordina, hace seguimiento, control, y evalúa políticas y actividades inherentes a investigación institucional e institutos como interacción social con un fuerte componente innovador para
                        fortalecer el desarrollo sostenible local, nacional e internacional.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>