.bg-img {
    margin: 0;
    // min-height: 100vh;
    background-image: url(./../../../../assets/img/register.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-mask {
    margin: 0;
    background: rgba(0, 0, 0, 0.548);
}

.title {
    font-size: 2em;
    margin-bottom: 0;
    display: block !important;
    text-align: center !important;
    margin-top: 15%;
    padding-left: 4%;
}

.title-dicyt {
    margin-top: 10px;
    font-size: 2.5em;
    font-weight: bold;
    display: block !important;
    text-align: center !important;
    // padding-left: 10%;
}